<h1>Listing manual interventions</h1>

<table>
  <tr>
		<th>DateTime</th>
		<th>Account</th>
		<th>Intervention</th>
  </tr>

<% for manual_intervention in @manual_interventions %>
  <tr>
		<td><%= manual_intervention.created_at %></td>
		<td><%= link_to(Account.find_with_deleted(manual_intervention.account_id).name, adm1n_account_path(manual_intervention.account_id)) %></td>
		<td><%=h manual_intervention.description %></td>
		<td><%= button_to "Complete", complete_adm1n_manual_intervention_path(manual_intervention), :method => :post %></td>
    <td><%= link_to 'Show', adm1n_manual_intervention_path(manual_intervention) %></td>
    <td><%= link_to 'Edit', edit_adm1n_manual_intervention_path(manual_intervention) %></td>
    <td><%= link_to 'Destroy', adm1n_manual_intervention_path(manual_intervention), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
