<h1><%= @account.name %></h1>

<strong>ID</strong>: <%= @account[:id] %><br/>
<strong>Subdomain</strong>: <%= @account.subdomain %><br/>
<strong>Plan</strong>: <%= @account.plan.name %><br/>
<strong>Effective</strong>: <%= @account.effective_date %><br/>
<strong>Contact</strong>: <%= @account.primary_user.name %> | <%= @account.primary_user.email %><br/>
<strong>City</strong>: <%= @account.city %><br/>
<strong>Clients</strong>: <%= @account.clients.count %><br/>
<strong>Invoices</strong>: <%= @account.invoices.count %><br/>
<strong>Logins</strong>: <%= @account.audit_logins.count %><br/>
<strong>Created</strong>: <%= @account.created_on %><br/>
<% if @account.deleted? -%><strong style="color: red;">DELETED</strong><% end -%>

<h2>Credit Card Transactions</h2>
<table>
	<tr>
		<th>Terminal</th>
		<th>ID</th>
		<th>DateTime</th>
		<th>Reference</th>
		<th>Amount</th>
		<th>Plan</th>
		<th>Response</th>
		<th>Description</th>
		<th>CC Name</th>
		<th>CC Expiry</th>
		<th>CC Email</th>
		<th>CC Type</th>
		<th>CC No</th>
		<th>CC IP</th>
	</tr>
	<% @account.credit_card_transactions.each do |cc| -%>
	<tr>
		<td><%= cc.terminal %></td>
		<td><%= cc[:id] %></td>
		<td><%= cc.created_on %></td>
		<td><%=h cc.reference %></td>
		<td>R<%= cc.amount %></td>
		<td><%=h cc.plan.name if cc.plan %></td>
		<td><%=h cc.response %></td>
		<td><%=h cc.description  %></td>
		<td><%=h cc.cc_name %></td>
		<td><%=h cc.cc_expiry %></td>
		<td><%=h cc.cc_email %></td>
		<td><%=h cc.cc_type %></td>
		<td><%=h cc.cc_masked_number %></td>
		<td><%=h cc.cc_card_holder_ip_addr %></td>
	</tr>
	<% end -%>
</table>
